{% extends 'base.html'%}

{% block head %}
<title>Register new user</title>
{% endblock %}

{% block main %}
<div class="h-full flex items-center justify-center">
  <div class="p-4 space-y-4 rounded-lg w-full max-w-xs border border-gray-500">

    <h1 class="text-center font-bold text-2xl">Register new user</h1>

    {% if form.errors %}
    <div class="alert-danger">
      <p class="p-1">{{form.errors}}</p>
    </div>
    {% endif %}
  
    <form class="flex flex-col items-center justify-center gap-4" action="" method="post">
      {% csrf_token %}
  
      <div class="space-y-2 w-full">
        <label for="id_username" class="block ml-2 text-sm font-medium dark:text-white">Username</label>
        <input type="text" id="id_username" name="username" maxlength="150"
          class="bg-gray-50 border border-gray-500 text-sm rounded-lg block w-full p-2.5 outline-none dark:text-white dark:bg-gray-800"
          placeholder="Qwerty" required>
      </div>
  
      <div class="space-y-2 w-full">
        <label for="id_password" class="block ml-2 text-sm font-medium dark:text-white">Password</label>
        <input type="password" id="id_password" name="password" maxlength="128"
          class="bg-gray-50 border border-gray-500 text-sm rounded-lg block w-full p-2.5 outline-none dark:text-white dark:bg-gray-800"
          placeholder="VerySectret123" required>
      </div>
  
      <div class="space-y-2 w-full">
        <label for="id_password2" class="block ml-2 text-sm font-medium dark:text-white">Confirm password</label>
        <input type="password" id="id_password2" name="password2" maxlength="128"
          class="bg-gray-50 border border-gray-500 text-sm rounded-lg block w-full p-2.5 outline-none dark:text-white dark:bg-gray-800"
          placeholder="VerySectret123" required>
      </div>
  
      <button type="submit" class="px-3 py-1.5 transition-colors duration font-semibold text-sm bg-primary-500 hover:bg-primary-700 rounded text-white">
        Register
      </button>

      <a class="px-3 py-1.5 transition-colors duration font-semibold text-sm text-primary-500 border-primary-500 border-2 hover:border-primary-700 hover:text-white hover:bg-primary-700 rounded" href="{% url 'login' %}">
        Already exists
      </a>
      
    </form>
  
  </div>
</div>

{% endblock %}