{% extends 'base.html' %}

{% block main %}

{% if posts %}
<div class="py-4 my-4 gap-4 grid grid-cols-3">
  {% for post in posts %}
  <a class="block" href="{% url 'detail-post' post.pk %}">
    <div class="border rounded-md flex flex-col gap-4 p-4">

      <div class="">
        <div class="flex items-center gap-4">
        
          {% if post.author.avatar %}
          <div class="shrink-0">
            <img class="block rounded-full w-8 h-8" src="{{post.author.avatar.url}}" alt="avatar">
          </div>
          {% endif %}
        
          <span class="">{{post.author.username}}</span>
        </div>
        
        {% if post.hashtags.all %}
        <div class="">
          {% for hashtag in post.hashtags.all %}
          <a class="block text-sm text-blue-500 hover:text-blue-700 underline" href="#">{{hashtag}}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      {% if post.image %}
      <div class="">
        <img src="{{post.image.url}}" class="" alt="img">
      </div>
      {% endif %}

      <p class="w-full">{{post.title}}</p>
      <p class="w-full">{{post.content}}</p>

      <!-- <div class="grid grid-cols-2 gap-4"> -->
        <!-- {% if request.user == post.author %} -->
        <!-- <a class="bg-blue-500 text-center hover:bg-blue-700 text-white py-1.5 px-3 rounded" href="#">Edit</a> -->
        <!-- <a class="bg-red-500 hover:bg-red-700 text-white py-1.5 px-3 rounded" href="#">Delete</a> -->
        <!-- {% endif %} -->
      <!-- </div> -->

    </div>
  </a>
  {% endfor %}
</div>
{% else %}
<h1 class="my-4 text-center font-bold text-2xl">No posts</h1>
{% endif %}

{% endblock %}

{% block footer %}
{% if posts %}
<div class="flex items-center justify-center gap-4">
  <a class="bg-blue-500 hover:bg-blue-700 text-white py-1.5 px-3 rounded" href="#"><<- Previous page</a>
  <a class="bg-blue-500 hover:bg-blue-700 text-white py-1.5 px-3 rounded" href="#">Next page ->></a>
</div>
{% endif %}
{% endblock %}